*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.cardContainer{
    width: 96%;
    background-color: #F4D03F;
    background-image: linear-gradient(132deg, #F4D03F 0%, #16A085 100%);
    height: 97vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 2px 1px 17px 1px black;
}
.cradMain{
 
    display: flex;
    justify-content: space-around;
}
.suerCard,
.robotsCard{
    border-radius: 10px;
    border: 1px solid rgb(44, 1, 1);
    flex-basis: 50%;
   text-align: center;
   height: 80vh;
   margin: 10px;
}
.startGame,
.stop{
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    font-family: Phantomsans, sans-serif;
    font-size: 18px;
    justify-content: center;
    line-height: 1em;
    width: 180px;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
}
.cardsImage,
.robotCard{
    max-height: 58vh;
    min-height: 58vh;
}
.cardsImage img,
.robotCard img{
    margin: 10px;
}
.result,
.totalNumber,
.robotResult{
    padding: 5px;
    margin: 10px;
    color: black;
    font-weight: bolder;
    font-size: 20px;
}
.won{
    margin: 10px;
    background-color: #513be0;
    color: white;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    border-radius: 10px;
}
.gameBtn{
    display: flex;
}
.playAgain,
.stopPlay{
    background-color: #055e64;
    color: white;
    width: 300px;
    margin: auto;
    padding: 10px;
    border: none;
    font-size: 16px;
    font-weight: bolder;
    border-radius: 10px;
}
.playAgain:hover,
.stopPlay:hover{
    background-color: #022e31;
}
